
<li>Group id:<%= group.id %></li>
<li>Name:<%= group.name %></li>
<li>Group Owner:<%= group.user_id %></li>
<li>Description:<%= group.description %></li>
<li>Access:<%= group.access %></li>
<li>Active Level:<%= group.active_level %></li>

