<h1>Create a new Group for <%= current_user.login %> </h1>


<%= form_for @group do |f| %>
  <% @group.errors.full_messages.each do |msg| %>  
      <li><%= msg %></li>  
    <% end %> 
  <%= render :partial => "form", :object => f %>
  <%#= f.hidden_field :user_id , :value => "#{@current_user.id}" ,:readonly => "true" %><br />
  <%= f.submit "Create" %>
  
<% end %>
